<%= form_with model: @hanabi, local: true do |f| %>
  <div class = 'form-group'>
    <%= f.label :title %>　<span class="input-need">※必須</span>
    <%= f.text_field :title, class: 'form-control', id: 'hanabi_title' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control', id: 'address' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :body %>
    <%= f.text_field :body, class: 'form-control', id: 'explanation' %>
  </div>
  <div class = 'form-group'>
    <%= f.attachment_field :image %> 
  </div>
  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>

