<% provide(:title, "ログイン") %>
<h2>ログイン</h2>
<div class="row">
  <div class="col-sm-5 mx-auto mt-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :user_name %><br />
        <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name" %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "ログイン情報を記憶する"  %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: 'btn btn-primary'  %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
